.search {
  height: 100%;
  background: #fff;
  &_pop {
    position: relative;
    padding-top: 50%;
    text-align: center;
    .title-img {
      width: 246rpx;
      height: 62rpx;
    }
    &-title {
      font-size: 36rpx;
      font-weight: bold;
      padding: 20rpx 0;
    }
    &-query {
      margin: 20rpx;
    }
    .search-bar {
      display: flex;
      align-items: center;
      margin: 64rpx 60rpx;
      border: 3rpx solid #333;
      border-radius: 28rpx;
      font-size: 28rpx;
      &_input {
        width: 100%;
        text-align: left;
        padding-left: 20rpx;
        border-bottom: 0;
        &::after {
          display: none;
        }
      }
      &_img {
        width: 50rpx;
        height: 42rpx;
        margin-right: 40rpx;
      }
    }
  }
  &_bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    text-align: center;
    padding: 10rpx;
    .btn {
      margin: 10rpx;
      color: #fff;
      border-radius: 4rpx;
      background: #0e5cff;
      padding: 10rpx 0;
      font-size: 24rpx;
    }
  }
}
